<% provide(:title, 'Latest Shared Experiences') %>
<h1>Latest Shared Experiences</h1>

<%= will_paginate %>

<div class="row">
  <div class="span8 offset3">
    <ul class="users">
      <%= render @experiences %>
    </ul>
  </div>
</div>
<%= will_paginate %>
