<% provide(:title, 'Latest Shared Experiences') %>
<div class="row">
  <div class="span8">
    <h1>Latest Shared Experiences</h1>
  </div>
</div>

<div class="row">
  <div class="span8">
    <%= will_paginate %>
    <ul class="users">
      <%= render @experiences %>
    </ul>
    <%= will_paginate %>
  </div>
</div>
