<div class="row">
  <div class="span6">
    <h1>Share an experience</h1>

    <p>What would you like to share? What did you learn? What should we say here? What will make them want to type in these boxes below?</p>
    <%= render 'form' %>

    <%= link_to 'Back', experiences_path %>

  </div>
</div>
